<h2 class="middle">About</h2>

<p class="middle">Matt's Movie Database is an online resource allowing you to find further information about the movies you love.</p>

<div id="bios">
	<section>
		<div class="person">
			<img src="http://teamfox.co/themes/pleasure/assets/globals/img/faces/large/8.jpg" alt="">
			<h4>Matt</h4>
			<p>Chief Movie Dude</p>
		</div>
	</section>

	<section>
		<div class="person">
			<img src="http://teamfox.co/themes/pleasure/assets/globals/img/faces/large/1.jpg" alt="">
			<h4>Anna</h4>
			<p>Office Babe</p>
		</div>
	</section>

	<section>
		<div class="person">
			<img src="http://teamfox.co/themes/pleasure/assets/globals/img/faces/large/4.jpg" alt="">
			<h4>Sarah</h4>
			<p>The Movie Afficionado</p>
		</div>
	</section>

	<section>
		<div class="person">
			<img src="http://teamfox.co/themes/pleasure/assets/globals/img/faces/large/5.jpg" alt="">
			<h4>Shteve</h4>
			<p>Token Swedish Dude</p>
		</div>
	</section>
</div>