

<h1>Matt's Movie Database</h1>


<form action="/movie">
	<div class="middle">
		<label for="title">Enter a movie name to get more information about it:</label><br>
		<input type="text" name="title">
		<button>Search</button>
	</div>
</form>
