/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'helvetica'
}

body {
	background-color: #eaeaea;
}

nav {
background-color: #8BAAE2;
height: 70px;
line-height: 70px;
padding:0 100px;
text-align: right;
}

#container {
	width: 90%;
	margin: auto;
	margin-top: 50px;
}

.dish {
	display: inline-block;
	width: 300px;
	margin: 10px;
	border-radius: 10px;
}

.dish img {
	max-width: 100%;
	border-radius: 10px 10px 0 0 ;

}

.content {
	position: relative;
	background-color: rgba(0,0,0,0.6);
	padding: 20px;
	border-radius: 0 0 10px 10px;
	color: #E0E0E0;
}

.name {
	font-family: monospace;
	font-size: 125%;
	color: #8BAAE2;
}

.price {
	position: absolute;
	top: 20%;
	right: 5%;
	color: white;
}

.store {
	margin-top: 5px;
	font-size: 85%;
}

.image {
	position: relative;
}
.likes {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #8BAAE2;
	padding: 5px 15px;
	border-radius: 15px;
	cursor: pointer;
}

.likes span {
	font-size: 1.5em;
	vertical-align: middle;
}

#create-new-dish {
	cursor: pointer;
}

#modal {
	background-color: rgba(0,0,0,0.5);
	height: 100vh;
	width: 100vw;
	position:fixed;
	z-index: 1;
}

#modal-container {
	position: absolute;
	top: 20%;
	left: 30%;
	background-color: #fff;
	width: 40%;
	padding: 40px;
	border-radius: 15px;
}

#modal-container h2 {
	text-align: center;
	border-bottom: solid 1px black;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

input {
	display: block;
	margin: 5px 0 20px 0;
}

input[type="text"], input[type="number"] {
	width: 100%;
	border-radius: 5px;
	font-size: 1em;
	line-height: 2;
	padding: 0 10px;
}

button {
	padding: 15px 30px;
	background-color: #FF6969;
	border-radius: 8px;
	border-color: #FAADBB;
	color: #fff;
	font-size: 1.1em;
}

button:hover {
	background-color: #EA5151;
}

#new-dish-btn {
	display: block;
	margin: 30px auto 0 auto;
	background-color: #8BAAE2;
	border-color: #7F91EF;
}

#new-dish-btn:hover {
	background-color: #4577D2;
}

label {
	font-size: 90%;
	margin-left: 5px;
}
