body {
	background-image: url('https://unsplash.imgix.net/photo-1426200830301-372615e4ac54?fit=crop&fm=jpg&h=725&q=75&w=1050');
	background-size: cover;
	margin: 0;
	color: #fff;
}

header {
	background-color: #fafafa;
	padding: 10px;
	margin: 0;
	border-bottom: 2px solid rgb(126, 186, 255);
}

nav img {
	display:inline;
	max-width: 80px;
	margin-left: 50px;
	vertical-align: middle;
}

header nav ul {
	display: inline-block;
	margin-left: 50px;
}

header nav ul li {
	display: inline;
}

header nav ul li a {
	text-decoration: none;
	padding: 20px;
	color: #000;
	background-color: #ffffff;
}

header nav ul li a:hover {
	background-color: #fcfcfc;
}

h1 {
	color: #fff;
	text-align: center;
	font-size: 5em;
	font-family: 'helvetica'
}

#container {
	max-width: 60%;
	margin: 100px auto;
	background-color: rgba(0,0,0,.6);
	padding: 30px;
}