<!DOCTYPE html>
<html>
<head>
  <title>DishApi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
	<button id="create-new-dish">Create new Dish</button>
</nav>

<div id="container">
</div>

<script id="dish-template" type="text/x-underscore-template">
	<div class="image">
		<img src="{{ image_url }}" alt="{{ name }}">
	</div>
	<div class="content">
		<h3 class="name">{{ name }}</h3>
		<div class="price">${{ price }}</div>
		<p class="store">{{ store }}</p>
	</div>
</script>

	<script id="likes-template" type="text/x-underscore-template">
		<div class="likes"><span>&hearts;</span> {{ likes }}</div>
	</script>

	<script id="new-dish-template" type="text/x-underscore-template">
		<div id="modal">
			<div id="modal-container">
				<h2>Create new dish</h2>
					<label for="name">Dish Name</label>
					<input type="text" id="dish_name" placeholder="Chocolate Cake">

					<label for="price">Price ($)</label>
					<input type="number" id="dish_price" placeholder="24.99">

					<label for="store">Store Purchased From</label>
					<input type="text" id="dish_store" placeholder="Store ABC">

					<label for="image_url">Image Url</label>
					<input type="text" id="dish_image_url" placeholder="http://www.image.com/img.jpg">
					<button id="new-dish-btn">Add New Dish</button>
			</div>
		</div>
	</script>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
