<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MovieSearchDB</title>
  <link rel="stylesheet" href="http://localhost:4567/css/style.css">
  <link rel="stylesheet" href="http://localhost:4567/css/searchbox.css">
</head>
<body>
  <h1>MovieSearchDB</h1>
  <nav>
    <ul>
      <li><a href="/">Search</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
