<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Good Food Hunting</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
	<div id="logo">
		<a href="/"><img src="/images/logo.png" alt=""></a>
	</div>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/dishes">Dishes</a></li>
		<li><a href="/dishes/new">Create</a></li>
	</ul>
</nav>
<div id="container">
	<%= yield %>
</div>

</body>
</html>