
<form action="/session" method="post">
	<h3>Log In</h3>
	<p>
		<label for="email">Email</label>
		<input type="text" name="email">
	</p>
	<p>
		<label for="password">Password</label>
		<input type="password" name="password">
	</p>
	<button>Login</button>
</form>