<h2>New Dish</h2>

<div id="new_dish">
	<form action="/dishes" method="post">
	<label for="">Name:</label>
		<input type="text" name="name" size="30">

		<label for="">Image Url:</label>
		<input type="text" name="image_url" size="100">
		<button>Create</button>
	</form>
</div>
