* { box-sizing: border-box; }

.container {
  width = 900px;
  background-color: pink;
  margin: 0 auto;
}

.container div:first-child {
  display: inline-block;
  width: 50%;
  background-color: lime;
}

.container div:last-child {
  display: inline-block;
  width: 50%;
  background-color: plum;
}


.container2 {
  width = 900px;
  background-color: pink;
  margin: 0 auto;
}

.container2 div:first-child {
  display: inline-block;
  width: 50%;
  background-color: lime;
}

.container2 div:last-child {
  display: inline-block;
  width: 50%;
  background-color: plum;
}
