body {
	background-color: #6FDD75;
}

.flipped {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}


.hidden {
	display: none;
}

.center {
	position: absolute;
   top: 15%;
   left: 40%;
}