* {
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
	margin:0;
}

h1, h2 {
	text-align: center;
}

nav {
	background-color: #f5f5f5;
	line-height: 2em;
}

nav ul {
	display: inline;
	margin: 0;
}

nav ul li {
	display: inline-block;
	padding: 15px;
	line-height: 2em;
}

nav a {
	padding: 2em;
	text-decoration: none;
	color: rgb(55, 129, 234);
}

nav a:hover {
	color: rgb(244, 25, 25);
}

nav img {
	max-width: 50px;
	max-height: 40px;
	vertical-align: middle;
	margin-left: 100px;
}

img {
	max-height: 200px;
	max-width: 150px;
}

figure {
	display: inline-block;
}
figcaption {
	text-align: center;
	padding: 10px;
}

#container {
	max-width: 70%;
	background-color: #fff;
	margin: 50px auto;
	padding: 30px;
}

#logo {
	display: inline-block;
}

#new_dish {
	text-align: center;
}

.edit {
	font-size: .5em;
	text-align: center;
}


@media (max-width: 750px) {
	nav ul li {
		padding: 10px 10px;
	}

	nav ul {
		padding-left: 0;
	}

	nav a {
		padding: 15px;
	}

	nav img {
		margin-left: 10px;
	}
}





