* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: linen;
}

#container {
  margin: 0 auto;
  width: 90%;
}

.profile-item {
  background-color: tomato;
  margin-bottom: 1em;
  margin-left: 200px;
  width: 70%;
  height: 133px;
}

.profile-item > ul {
  margin-left: 20px;
}


.profile-item > img {
  position: absolute;
  margin-left: -200px;
  width: 200px;
  height: 133px;
}
