<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://localhost:4567/css/reset.css">
  <link rel="stylesheet" href="http://localhost:4567/css/style.css">
  <link rel="stylesheet" href="http://localhost:4567/css/ribbon.css">
  <title>Good Food Hunting</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="/dishes">View Dishes</a></li>
      <li><a href="/dishes/add-dish">Add New</a></li>
    </ul>
  </nav>
  
  <div class="container one">
    <div class="bk l">
      <div class="arrow top"></div> 
      <div class="arrow bottom"></div>
    </div>
    <div class="skew l"></div>
    <div class="main">
      <div><h1>GOOD FOOD HUNTING</h1></div>   
    </div>
    <div class="skew r"></div>
    <div class="bk r">
      <div class="arrow top"></div> 
      <div class="arrow bottom"></div>
    </div>
  </div>
  <%= yield %>
</body>
</html>
