<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://localhost:4567/css/reset.css">
  <link rel="stylesheet" href="http://localhost:4567/css/style.css">
  <title>Good Food Hunting</title>
</head>
<body>
  <header>
    <h1>Good Food Hunting</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="/dishes">View Dishes</a></li>
      <li><a href="/dishes/add-dish">Add New</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
