/*\
| | Color scheme: http://app.coolors.co/3f4b3b-44633f-5a9367-5cab7d-4adbc8
| |
\*/

/*\
| | apply a natural box layout model to all elements,
| | but allowing components to change
\*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: linen;
}

#dishes-container {
  margin: 0 auto;
  width: 90%;
}

.dish-item {
  float: left;
  border: 2px solid black;
  margin: 10px;
  height: 300px;
  width: 185px;
}

.dish-item-image {
  border-bottom: 2px solid black;
  height: 200px;
  width: 185px;
}

.dish-item-image > img {
  position: relative;
  width: 100%;
  height:100%;
}

.dish-item-text {
  text-align: center;
}

.rating {
  background-image: url("img/star.png");
  background
  color: gold;
  width:30px;
  height:30px;
}
