<h2>That movie is not in the database</h2>
<h3>Please try again.</h3>

<form action="/movie">
	<label for="title">Movie Search:</label>
	<input type="text" name="title">
	<button>Search</button>
</form>