<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MMDB</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
</head>
<body>

	<nav>
		<a href="/"><p id="logo">MMDB</p></a>
		<ul>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>

	<div id="container">
		<%= yield %>
	</div>

</body>
</html>