<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>THIS IS THE TITLE</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <header class="span-5">
    <h1>Luke's Cool Website of Stuff</h1>
    <ul class="inline">
      <li><a href="/">Index</a></li>
      <li><a href="about">About</a></li>
      <li><a href="contact">Contact Me</a></li>
    </ul>
  </header>

  <%= yield %>

</body>
</html>
